
---
import Info from '../react/features/Principal/info';
import Profile from '../react/features/Principal/profile';
import Securities from '../react/features/Principal/securities';
import Proyect from '../react/features/Principal/proyect';
---

<body class="bg-gray-100 dark:bg-gray-200 text-gray-800 font-sans">
  <main class="max-w-4xl mx-auto p-4 bg-white shadow-xl rounded-xl mt-2">
    <Info client:load />
    <Profile client:load />
    <Securities client:load />
    <Proyect client:load />
  </main>
</body>
